:root {
  --collection-1-black: rgba(49, 46, 46, 1);
  --collection-1-grey: rgba(217, 217, 217, 1);
  --collection-1-maroon: rgba(127, 67, 67, 1);
  --collection-1-number: 0px;
  --collection-1-white: rgba(239, 239, 239, 1);
}
